/** 标签 */
button.tc-tag-label, span.tc-tag-label {
  border-radius: 3px;
  background-color: <<colour tag-background>>;
  color: <<colour foreground>>;
  /** hover动画 */
  transition: background-color 0.2s;
  /** 适配长标题作为标签的情况 */
  white-space: normal;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
button.tc-tag-label, span.tc-tag-label:hover {
  background-color: <<colour tag-background-hover>>;
}

/* 编辑时，打开预览，工具栏显示会有问题 */
.tc-tiddler-preview {
    overflow: unset;
}

/* 修复 katex 向量不显示符号的问题 */
.tc-tiddler-frame svg {
	width: initial;
	max-width: 100px;
}